################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/COMVisibleEvents/obj
/COMVisibleEvents/.vs/COMVisibleEvents/FileContentIndex
/COMVisibleEvents/bin/Debug
/COMVisibleEvents/bin/x86/Debug
